.portfolio-list {
  width: 66%;
  margin-left: 1%;
  float: left;
  padding: .7rem;
  background: #efefef;
  border-bottom: solid 2px #ccc;
  border-top: solid 4px #ccc;

}

.portfolio-list-item:hover {
  background: #fff;
  cursor: pointer;
}

.portfolio-list th {
  font-size: .7rem;
  padding-bottom:.3rem;
}


.portfolio-list td {
  padding: .2rem 0;
}

.portfolio-list td, .portfolio-list th {
  border-bottom: dashed 1px #ccc;
  text-align: center;
  margin:0;

}
.portfolio-list button {
  font-size: .7rem;
}


@media (max-width: 475px) {
  .portfolio-list {
    width: 100%;
    margin:1rem 0;

  }
}
