.search-form {
  font-size:1.5rem;
  float:left;
  width: 50%
}

.search-form input {
  margin-top: .5rem;
  padding: .3em;
  padding-bottom: .4em;
  width: 4rem;
  border: solid 2px #777;
  font-size:.6em;
  height: 1.2em;
  outline: none;
}

.search-form button {
font-size: .5em;
border-left: none;
line-height: 1.1em;
height: 2.6em;
outline: none;
}
